.original-sec {
    margin-top: 80px;
}

.original-sec-grid-1 {
    grid-template-columns: 1fr 720px;
    align-items: flex-end;
}

.original-sec-grid.original-sec-grid-1 .original-figure img {
    max-width: 720px;
}

section.original-sec.original-sec-01 {
    margin-top: 85px;
}

.original-list dt>span.tag {
    display: inline-block;
    font-size: 20px;
    padding: 7px 12px;
    color: #fff;
    background: #9fa0a0;
    border-radius: 5px;
    font-weight: 400;
    margin-top: 20px;
}

.original-list dt {
    line-height: 1;
    margin-bottom: 40px;
}

.original-sec-grid-lg .original-figure img.img-bottom {
    top: auto;
    bottom: -50px;
}

.original-sec-grid-lg .original-figure img.img-bottom2 {
    top: auto;
    bottom: -70px;
}

.original-sec-grid-lg .original-figure img.img-bottom3 {
    top: 0;
}

.original-sec-grid-lg.original-sec-grid-lg2 {
    align-items: center;
}

.original-sec-grid-lg.original-sec-grid-lg3 {
    grid-template-columns: 1fr 700px;
}

.original-list {
    margin-top: 75px;
}

.original-sec-grid-lg .original-figure img.img-size01 {
    max-width: 495px;
}

.original-sec-grid-lg .original-figure img.img-size02 {
    max-width: 700px;
}

.original-btns {
    margin-top: 130px;
}

.original-title>img {
    display: inline-block;
    width: 240px;
    filter: brightness(0) saturate(100%) invert(14%) sepia(11%) saturate(800%) hue-rotate(340deg) brightness(90%);
}

@media (max-width: 1490px) {
    .original-sec-grid-1 {
        grid-template-columns: 1fr;
    }

    .original-sec-grid-lg.original-sec-grid-lg3.original-sec-grid-1 {
        grid-template-columns: 1fr;
    }

    .mo-br.mo-br2 {
        display: none;
    }

    .original-sec-grid .original-figure img.img-1490 {
        margin-top: 0;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .original-btns {
        margin-top: 50px;
    }

    .original-list dt>span.tag {
        font-size: 15px;
    }
}